@media (min-width: 769px){
 
  section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10rem;
    height: 80vh;
  }
  
  .form{
    width: 350px;
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
  .form h2{
    font-size: 1.5rem;
    text-align: center;
  }
  
  .form p{
    font-size: .7rem;
    text-align: center;
    padding: .5rem;
    color: #c2c2c2;
  }
  
  .form button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 100%;
    height: 38px;
    padding: .8rem;
    margin: auto;
    border: #c2c2c2 solid 1px;
    background-color: #fff;
    margin-bottom: .8rem;
  }
  
  .form button img{
    width: 1rem;
  }
  
  
  .formulary{
    display: flex;
    font-weight: 500;
    font-size: .7rem;
  }
  .formulary div{
    width: 100%;
  }
  
  .formulary div label{
    display: block;
    margin-bottom: .5rem;
    margin-top: .5rem;
  }
  
  .formulary div .input{
    display: block;
    width: 100%;
    height: 35px;
    padding-left: .875rem;
  }
  
  .checkbox{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: .5rem;
  }
  
  .checkbox label{
    font-size: .7rem;
  }
  
  .btn{
    width: 100%;
    height: 45px;
    background-color: #1B1C1E;
    border: none;
    color: #f0f0f0;
  }
  .presentation{
    width: 250px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .presentation h1{
    font-size: 35px;
    text-align: center;
  }
  
  .presentation img{
    width: 400px;
  }
}