*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.form{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

}
.form h2{
  font-size: 1.7rem;
  text-align: center;
}

.form p{
  font-size: .8rem;
  text-align: center;
  padding: .5rem;
  color: #c2c2c2;
}

.form button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  width: 100%;
  height: auto;
  padding: .875rem;
  margin: auto;
  border: #c2c2c2 solid 1px;
  background-color: #fff;
  margin-bottom: .875rem;
}

.form button img{
  width: 1.3rem;
}


.formulary{
  display: flex;
  font-weight: 500;
  font-size: .8rem;
}
.formulary div{
  width: 100%;
}

.formulary div label{
  display: block;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.formulary div .input{
  display: block;
  width: 100%;
  height: 45px;
  padding-left: .875rem;
}

.checkbox{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: .5rem;
}

.checkbox label{
  font-size: .7rem;
}

.btn{
  width: 100%;
  height: 45px;
  background-color: #1B1C1E;
  border: none;
  color: #f0f0f0;
}

.presentation{
  display: none;
}